html {
  font-family: "Ubuntu Condensed", sans-serif;
}

.banner {
  background-image: url("../images/starfield.jpg");
}

.banner-content {
  color: #fff;
  text-shadow: 0px 0px 10px #fff;
}

.btn-wrapper a {
  border-color: #90ccc3;
  border-radius: 8px;
  color: #b4fff4;
  padding: 1em;
}

.btn-wrapper a:hover {
  background-color: rgba(180, 255, 244, .2);
  border-color: #90ccc3;
  color: #b4fff4;
}
