html {
  font-family: "Ubuntu Condensed", sans-serif;
}

.banner {
  background-image: url("../images/starfield.png");
}

.banner-content {
  color: #fff;
  text-shadow: 1px 1px 30px rgba(255, 255, 255, .7);
}

.btn-wrapper a {
  border-color: #90ccc3;
  border-radius: 8px;
  color: #b4fff4;
  padding: 1em 1.75em;
}

.btn-wrapper a:hover {
  background-color: rgba(180, 255, 244, .2);
  border-color: #90ccc3;
  color: #b4fff4;
  transition: all 250ms ease;
}

.btn-wrapper a:active,
.btn-wrapper a:focus {
  background-color: rgba(180, 255, 244, .2);
  border-color: #90ccc3;
  color: #b4fff4;
  transition: all 250ms ease-in-out;
  transform: translate(0, .25em);
}

.btn:active {
  top: 1em;
}

.icon,
.btn {
  transition: all 250ms ease;
}

.icon:hover {
  transform: translate(.5em);
  transition: all 250ms ease-in-out;
}

.btn-wrapper:hover .icon,
.btn-wrapper:active .icon,
.btn-wrapper:focus .icon {
  transition: all 250ms ease-in-out;
  transform: translate(0, -.75em);
}

i {
  padding-left: 8em;
  left: 6em;
  top: 1.25em;
}
